<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @comment.photo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_album_photo_comment_path(@comment) %> |
<%= link_to 'Back', albums_path %>
